.favoriteButton {
  border: 1px solid var(--light-text);
  border-radius: 100%;
  padding: 11px;
  display: flex;
  transition: all var(--trTime1) ease-in-out;
  color: var(--light-text);

  &.active {
    background: var(--gradientBackground);
    background-size: 1900%;
    animation: gradient 80s ease infinite, pulse 30s ease-in-out infinite alternate;
  }
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 100%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 0%;
  }

  100% {
    background-position: 0% 50%;
  }
}