.MovieCardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--m30);
  margin-bottom: var(--m40);

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap:  var(--m60) var(--m30);
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    width: 100%;
  }
}