.cardContainer {
  .poster {
    position: relative;
    overflow: hidden;
    border-radius: var(--borderLg);
    margin-bottom: var(--m20);
    padding: 75% 0;
    backdrop-filter: blur(10px);
    background: radial-gradient(circle, var(--background-color) 0, #94bbe900 100%);

    .container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--background-color);
      transition: transform var(--trTime1) ease-in-out;

      img {
        object-fit: cover;
        transition: opacity var(--trTime1) ease-in-out;

        &.loading {
          opacity: 0;
        }

        &.loaded {
          opacity: 1;
        }
      }
    }

    .rating {
      position: absolute;
      top: 10px;
      left: 10px;
      background: var(--background-color);
      padding: 11px;
      border-radius: 100%;
      font-size: var(--pL);
      font-weight: 500;
      font-family: 'Inter', sans-serif;
      color: var(--text-color);
      line-height: var(--lineHeight);

      @media (max-width: 768px) {
        padding: 8px;
      }
    }

    .favorite {
      position: absolute;
      top: 10px;
      right: 10px;

      @media (max-width: 768px) {
        transform: scale(0.9);
      }
    }

    .date {
      position: absolute;
      bottom: 15px;
      left: 10px;
      padding: 8px 10px;
      border-radius: var(--borderLg);
      border: 1px solid var(--text-color);
      background: var(--gradientBackground);
      overflow: hidden;
      transition: all var(--trTime1) ease-in-out;
      background-size: 1060%;
      font-size: var(--pS);
      font-weight: 700;
      font-family: 'Inter', sans-serif;
      color: var(--text-color);
      line-height: var(--lineHeight);

      @media (max-width: 768px) {
        padding: 6px 8px;
      }
    }
  }

  .content {
    .title {
      margin-bottom: var(--m20);
    }

    .overview {
      font-weight: 400;
      font-family: 'Inter', sans-serif;
      color: var(--text-color);
      line-height: var(--lineHeightM);
      font-size: var(--pM);

    }
  }
}